/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/source-sans-pro.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #312d2d;
$base02:    #363131;
$base01:    #776a6a;
$base00:    #857474;
$base0:     #949494;
$base1:     #a8a8a8;
$base2:     #eeeeee;
$base3:     #fcfcfc;
$yellow:    #b58900;
$yellowDark:#362901;
$orange:    #cb4b16;
$orangeDark:#331406;
$red:       #dc322f;
$redDark:   #3b0f0e;
$magenta:   #d33682;
$violet:    #6c71c4;
$violetDark:#1d1f33;
$blue:      #268bd2;
$cyan:      #2aa198;
$cyanDark:  #0b2926;
$green:     #859900;
$greenDark: #082e00;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $red;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $orange;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  a {
    text-decoration: underline;
  }
  .good-color {
    color: $green;
  }

  code.code-condensed {
    font-size: 16px;
    line-height: 1.1;
  }

  .bad-color {
    color: $red;
  }

  .img-profile {
    width: 200px;
    border-radius: 200px;
    background-color: transparent;
  }

  .container-flex {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    .col {
      flex: 1;
    }
  }
  
  section img.plain.mod-transparent {
    background-color: transparent;
  }

  .color-yellow {
    color: $yellow;
  }

  .color-red {
    color: $red;
  }

  .color-orange {
    color: $orange;
  }

  .color-magenta {
    color: $violet;
  }

  .color-blue {
    color: $blue;
  }

  .color-violet {
    color: $violet;
  }

  .color-cyan {
    color: $cyan;
  }

  .color-green {
    color: $green;
  }
}
